/* make these filters responsive and scrollable horizontally on small screens */
#filters {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    overflow-x: auto;
}

.filter {
    text-align: center;
    margin-right: 2rem;
    margin-top: 2rem;
    opacity: 0.7;
    flex-shrink: 0;
}

.filter:hover {
    opacity: 1;
    cursor: pointer;
}

.filter p {
    font-size: 0.8rem;
}

.tax-info {
    display: none;
}

.tax-switch {
    border: 1px solid black;
    border-radius: 1rem;
    height: 3.5rem;
    padding: 1rem;
    margin-left: auto;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    position: sticky;
    right: 0;
    background-color: white;
    box-shadow: -10px 0 10px rgba(255, 255, 255, 0.9);
}

/* add media queries for responsiveness */
@media (max-width: 600px) {
    #filters {
        padding: 5px 0;
        margin-bottom: 10px;
    }

    .filter {
        margin-right: 1rem;
        margin-top: 1rem;
    }

    .filter p {
        font-size: 0.7rem;
    }
}
